{% extends "layouts/dash.html" %}

{% block header %}{% endblock %}

{% block content %}

<div class="sidebar">
    <a class="active spacer"></a>
  <a class="active" href="#home"><b> <i class="fas fa-home fa-fw "></i> &nbsp; Home</b></a>
  <a href="#news"> <b> <i class="fas fa-home fa-fw "></i> &nbsp;Prev. Assignments</b></a>
  <a href="#news"> <b>Prev. Hackathons</b></a>
</div>

<div class="content">

    <div class="container">
        <br><br>
        <div class="jumbotron">
            <h1 class="display-3">Welcome Rohan</h1>
            <hr class="my-2">
            <p>What do you want a reminder for?</p>
            <p class="lead">
                <a class="btn btn-outline-crimson" href="" role="button">Assignment</a>
                <a class="btn btn-outline-crimson" href="" role="button">Hackathon</a>
            </p>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="jumbotron">
                    <h1 class="display-4">Current Reminders</h1>
                    <div class="card-container">
                        
                        <div class="card bg-cards">
                            <div class="card-body">
                                <h4 class="card-title">Assignment</h4>
                                <p class="card-text">
                                    Chemistry Assignment submission
                                    <br>
                                    <small>12th September 2020</small>
                                </p>
                                <div class="btns">
                                    <button class="btn btn-outline-success" type="button" id="exampleAddon">
                                        <i class="fas fa-check fa-sm  "></i>
                                    </button>
                                    <button class="btn btn-outline-danger" type="button" id="exampleAddon">
                                        <i class="fas fa-trash fa-sm  "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card bg-cards">
                            <div class="card-body">
                                <h4 class="card-title">Hackathon</h4>
                                <p class="card-text">
                                    Suns Out Hacks Out
                                    <br>
                                    <small>6th September 2020</small>
                                </p>
                                <div class="btns">
                                    <button class="btn btn-outline-success" type="button" id="exampleAddon">
                                        <i class="fas fa-check fa-sm  "></i>
                                    </button>
                                    <button class="btn btn-outline-danger" type="button" id="exampleAddon">
                                        <i class="fas fa-trash fa-sm  "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card bg-cards">
                            <div class="card-body">
                                <h4 class="card-title">Hackathon</h4>
                                <p class="card-text">
                                    Suns Out Hacks Out
                                    <br>
                                    <small>6th September 2020</small>
                                </p>
                                <div class="btns">
                                    <button class="btn btn-outline-success" type="button" id="exampleAddon">
                                        <i class="fas fa-check fa-sm  "></i>
                                    </button>
                                    <button class="btn btn-outline-danger" type="button" id="exampleAddon">
                                        <i class="fas fa-trash fa-sm  "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card bg-cards">
                            <div class="card-body">
                                <h4 class="card-title">Hackathon</h4>
                                <p class="card-text">
                                    Suns Out Hacks Out
                                    <br>
                                    <small>6th September 2020</small>
                                </p>
                                <div class="btns">
                                    <button class="btn btn-outline-success" type="button" id="exampleAddon">
                                        <i class="fas fa-check fa-sm  "></i>
                                    </button>
                                    <button class="btn btn-outline-danger" type="button" id="exampleAddon">
                                        <i class="fas fa-trash fa-sm  "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card bg-cards">
                            <div class="card-body">
                                <h4 class="card-title">Hackathon</h4>
                                <p class="card-text">
                                    Suns Out Hacks Out
                                    <br>
                                    <small>6th September 2020</small>
                                </p>
                                <div class="btns">
                                    <button class="btn btn-outline-success" type="button" id="exampleAddon">
                                        <i class="fas fa-check fa-sm  "></i>
                                    </button>
                                    <button class="btn btn-outline-danger" type="button" id="exampleAddon">
                                        <i class="fas fa-trash fa-sm  "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card bg-cards">
                            <div class="card-body">
                                <h4 class="card-title">Hackathon</h4>
                                <p class="card-text">
                                    Suns Out Hacks Out
                                    <br>
                                    <small>6th September 2020</small>
                                </p>
                                <div class="btns">
                                    <button class="btn btn-outline-success" type="button" id="exampleAddon">
                                        <i class="fas fa-check fa-sm  "></i>
                                    </button>
                                    <button class="btn btn-outline-danger" type="button" id="exampleAddon">
                                        <i class="fas fa-trash fa-sm  "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="jumbotron" style="position: sticky; top: 5vh; height: 90vh;">
                    <h1 class="display-4">Filters</h1>
                    <p class="lead">Filter your reminders on :
                        <ul>
                            <li>Assignments only</li>
                            <li>Hackathons only</li>
                            <li>Both</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
